---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

$accent-color: rgb(10, 130, 224);
$background-color: rgb(255, 255, 255);
$base-color: rgb(0, 64, 122);
$border-color: rgb(80, 80, 80);
$text-color: rgb(80, 80, 80);
$nav-background-color: rgb(0, 64, 122);

/*
$base-color: #000 !default;
$text-color: #000 !default;
$accent-color: #34374C !default;
$nav-color: #fff !default;
$background-color: #fff !default;
$nav-background-color: #000 !default;
$code-background-color: tint($base-color, 95%) !default;
$border-color: tint($base-color, 80%) !default;
*/

@charset "utf-8";

@import "so-simple";

/* include any additional style commands below (e.g. due to the definition of new layouts) */

.page-author-without-date {
  @include clearfix;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;

  @include breakpoint($large) {
    display: block;
  }
}

